.pytest_cache
.vscode
staticfiles
temp
tmp
venv
.idea
**/.git
environments
containers
docker-compose.yml
db.sqlite3
init-letsencrypt.sh
requirements_dev.txt

data/
.DS_Store
.editorconfig
test_runner.py
configs
