.pytest_cache
.mypy_cache
.ruff_cache
tmp/static
tmp/media
tmp/cache
/.idea
.c9/
.kubeconfig
.settings/
.pytest_cache/
staticfiles/
backend/static/tests/test_files/
data/
/node_modules
tmp/venv
**secrets**
test*.sh
.coverage
test.sh
coverage.xml
.env
.env.local
.env.prod
tmp/s3backup
*.log
/out-tsc
db.sqlite3
/venv
/environments
.project
.classpath
*.launch
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
*.pyc
*.pyo
.scannerwork
.DS_Store
Thumbs.db
/staticfiles
backend/static/tests/test_file.png
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*kubeconfig*
tmp.txt
