version: "3.7"

services:
    db:
        image: postgres:13.2
        restart: always
        environment:
            POSTGRES_DB: postgres
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: secret
            PGDATA: /var/lib/postgresql/data
        volumes:
            - db-data:/var/lib/postgresql/data
        ports:
            - "5432:5432"

    pgadmin:
        image: dpage/pgadmin4:5.1
        restart: always
        environment:
            PGADMIN_DEFAULT_EMAIL: dominik@admin.de
            PGADMIN_DEFAULT_PASSWORD: qwe123
            PGADMIN_LISTEN_PORT: 80
        ports:
            - "8081:80"
        volumes:
            - pgadmin-data:/var/lib/pgadmin
        links:
            - "db:pgsql-server"


volumes:
    db-data:
    pgadmin-data:
