[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==20.1.0"
djangorestframework = ">=3.14.0"
psycopg2 = ">=2.9.4"
django-cors-headers = "==3.13.0"
django-debug-toolbar = ">=3.7"
cryptography = "==39.0.0"
django-solo = "==2.0.0"
django-storages = "==1.13.2"
whitenoise = "==6.3.0"
django-tinymce = "==3.5.0"
pycryptodome = "==3.16.*"
boto3 = ">=1.24.94"
coverage = ">=6.5.0"
pytest = "==7.2.0"
pytest-django = ">=4.5.2"
mypy = ">=0.982"
djangorestframework-stubs = "==1.8.*"
django-stubs = "==1.13.*"
black = ">=22.10"
environs = "==9.5.0"
pyjwt = "==2.6.*"
pytz = ">=2022.5"
uvicorn = "0.19.x"
django-oidc-provider = {git = "https://github.com/lawandorga/django-oidc-provider"}
pytest-env = "*"
ics = "*"
django = {extras = ["argon2"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
dnspython = "*"
bleach = "*"
types-bleach = "*"
sentry-sdk = "*"
