[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==20.1.0"
djangorestframework = "==3.14.*"
psycopg2 = "==2.9.*"
django-cors-headers = "==3.13.0"
django-debug-toolbar = "==3.*"
cryptography = "==39.0.1"
django-solo = "==2.0.0"
django-storages = "==1.13.2"
whitenoise = "==6.3.0"
django-tinymce = "==3.6.1"
pycryptodome = "==3.17.*"
boto3 = "==1.26.*"
coverage = "==7.1.*"
pytest = "==7.3.2"
pytest-django = "==4.5.*"
mypy = "==1.5.*"
djangorestframework-stubs = "==1.10.*"
black = "==23.9.*"
environs = "==9.5.*"
pyjwt = "==2.6.*"
pytz = "==2022.*"
uvicorn = "==0.23.*"
pytest-env = "*"
ics = "==0.7.2"
django = {extras = ["argon2"], version = "==4.2.*"}
pydantic = {extras = ["email"], version = "==2.3.*"}
dnspython = "*"
bleach = "==6.0.*"
types-bleach = "==6.0.*"
sentry-sdk = "*"
pytest-xdist = "*"
django-oidc-provider = {git = "https://github.com/lawandorga/django-oidc-provider"}
pyotp = "*"
ruff = "*"
isort = "*"
flake8-pyproject = "*"
django-stubs = "*"

[pipenv]
allow_prereleases = true
