[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==20.1.0"
djangorestframework = "==3.14.*"
psycopg2 = "==2.9.*"
django-cors-headers = "==3.13.0"
django-debug-toolbar = "==3.*"
cryptography = "==39.0.*"
django-solo = "==2.0.*"
django-storages = "==1.13.*"
whitenoise = "==6.3.*"
django-tinymce = "==3.6.*"
pycryptodome = "==3.17.*"
boto3 = "==1.26.*"
coverage = "==7.1.*"
pytest = "==7.3.*"
pytest-django = "==4.5.*"
mypy = "==1.5.*"
djangorestframework-stubs = "==1.10.*"
black = "==23.9.*"
environs = "==9.5.*"
pyjwt = "==2.6.*"
pytz = "==2022.*"
uvicorn = "==0.23.*"
pytest-env = "==1.0.*"
ics = "==0.7.*"
django = {extras = ["argon2"], version = "==4.2.*"}
pydantic = {extras = ["email"], version = "==2.3.*"}
dnspython = "==2.4.*"
bleach = "==6.0.*"
types-bleach = "==6.0.*"
pytest-xdist = "==3.3.*"
django-oidc-provider = {git = "https://github.com/lawandorga/django-oidc-provider"}
pyotp = "==2.9.*"
ruff = "==0.0.*"
isort = "==6.0.*"
flake8-pyproject = "==1.2.*"
django-stubs = "==4.2.*"

[pipenv]
allow_prereleases = true
