# wheel
wheel==0.37.1
# django
Django==3.2.12
djangorestframework==3.13.1
# database production
psycopg2==2.9.3
# cors
django-cors-headers==3.11.0
# development
pep8==1.7.1
autopep8==1.6.0
django-debug-toolbar==3.2.4
# encryption
cryptography==36.0.1
# page models
django-solo==2.0.0
# files
django-storages==1.12.3
# serve static files
whitenoise==5.3.0
# article models
django-tinymce==3.4.0
# unknown
pycryptodome==3.12.0
boto3==1.20.41
