# django
Django==3.2.10
djangorestframework==3.13.1
# database production
psycopg2==2.9.3
# cors
django-cors-headers==3.10.1
# development
pep8==1.7.1
autopep8==1.6.0
django-debug-toolbar==3.2.4
# encryption
cryptography==36.0.1
# page models
django-solo==2.0.0
# files
django-storages==1.12.3
# article models
django-tinymce==3.4.0
# unknown
pycryptodome==3.12.0
boto3==1.20.26
# remove in code
django-model-utils==4.2.0

