# wheel
wheel==0.37.1
# docker container setup
gunicorn==20.1.0
# django
Django==4.0.7
djangorestframework==3.13.1
# jwts
djangorestframework-simplejwt==5.2.0
# database production
psycopg2==2.9.3
# cors
django-cors-headers==3.13.0
# development
pep8==1.7.1
autopep8==1.7.0
django-debug-toolbar==3.6.0
# encryption
cryptography==38.0.1
# page models
django-solo==2.0.0
# files
django-storages==1.13.1
# serve static files
whitenoise==6.2.0
# article models
django-tinymce==3.5.0
# unknown
pycryptodome==3.15.0
boto3==1.24.77
# validation
pydantic==1.10.2
# tests
coverage==6.4.4
pytest==7.1.3
pytest-django==4.5.2
# mypy
mypy==0.971
djangorestframework-stubs==1.7.0
django-stubs==1.12.0
# formatter
black==22.8.0
