interfaces = []
exclude = [
    "**/*__pycache__",
    "**/*egg-info",
    "**/docs",
    "**/tests",
    "**/venv",
]
source_roots = [
    ".",
]

[[modules ]]
path = "core.tasks"
depends_on = ["core.auth", "core.seedwork"]

[[modules ]]
path = "core.org"
depends_on = [ "core.seedwork", "core.auth", "core.encryption", "messagebus", "core.folders", "core.permissions"]

[[modules ]]
path = "core.legal"
depends_on = ["core.seedwork", "core.auth"]

[[modules ]]
path = "core.auth"
depends_on = ["core.permissions", "core.records", "core.encryption", "core.folders", "core.legal", "core.org", "core.seedwork", "messagebus", "seedwork"]

[[modules ]]
path = "core.folders"
depends_on = ["core.auth", "seedwork", "core.permissions", "core.org", "messagebus", "core.seedwork", "core.encryption"]

[[modules ]]
path = "core.files_new"
depends_on = ["core.folders", "messagebus", "core.seedwork", "core.auth", "core.org", "core.encryption"]

[[modules ]]
path = "messagebus"
depends_on = ["seedwork"]

[[modules ]]
path = "core.records"
depends_on = ["core.org", "core.auth", "messagebus", "core.permissions", "core.data_sheets", "seedwork", "core.folders", "core.seedwork"]

[[modules ]]
path = "core.mail_imports"
depends_on = ["core.org", "core.seedwork", "core.folders", "core.auth", "seedwork", "core.encryption"]

[[modules ]]
path = "core.data_sheets"
depends_on = ["core.org", "core.folders", "core.permissions", "core.auth", "seedwork", "messagebus", "core.seedwork", "core.encryption"]

[[modules ]]
path = "seedwork"
depends_on = []

[[modules ]]
path = "core.questionnaires"
depends_on = ["messagebus", "core.auth", "core.seedwork", "core.permissions", "core.folders", "core.encryption"]

[[modules ]]
path = "core.permissions"
depends_on = [ "core.auth", "core.seedwork"]

[[modules ]]
path = "core.collab"
depends_on = ["core.org", "core.seedwork", "messagebus", "seedwork", "core.auth", "core.folders", "core.encryption"]

[[modules ]]
path = "core.statistics"
depends_on = ["core.seedwork", "seedwork", "core.records", "core.auth", "core.data_sheets"]

[[modules ]]
path = "core.seedwork"
depends_on = []

[[modules ]]
path = "core.mail"
depends_on = ["core.permissions", "core.auth", "core.seedwork"]

[[modules ]]
path = "core.internal"
depends_on = ["core.seedwork"]

[[modules ]]
path = "core.timeline"
depends_on = ["core.org", "core.seedwork", "core.folders", "core.data_sheets", "core.auth", "core.encryption"]

[[modules ]]
path = "core.encryption"
depends_on = ["core.auth", "core.seedwork", "messagebus", "core.folders", "core.org", "seedwork"]

[[modules ]]
path = "core.other"
depends_on = []

[[modules ]]
path = "core.messages"
depends_on = ["core.org", "core.seedwork", "core.folders", "core.auth", "core.encryption"]

[[modules ]]
path = "core.events"
depends_on = ["core.auth", "core.seedwork", "core.org"]

[[modules ]]
path = "core.upload"
depends_on = ["core.seedwork", "messagebus", "core.folders", "core.org", "core.auth", "core.encryption"]
