{% extends 'symbols/base.html' %}

{% block title %}Legal Requirement{% endblock %}

{% block content %}
<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-2xl">
    <div class="px-4 py-8 bg-white shadow sm:rounded-lg sm:px-10">
        <div class="flex items-center justify-between w-full">
            <div class="prose-sm prose max-w-none">
                <h1 class="">
                    {{ lr.title }}
                </h1>
            </div>
        </div>
        <div class="prose-sm prose max-w-none">
            <div>{{ lr.content|safe }}</div>
        </div>
    </div>
</div>
{% endblock %}