{% extends 'symbols/base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <img class="mx-auto h-12 w-auto" src="{% static 'logo256blue.png' %}"
                 alt="Law&Orga">
            <h1 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Sign in to Law&Orga</h1>
        </div>
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                {% if request.user.is_authenticated %}
                    <p class="text-lg font-medium text-center text-gray-700">You are logged in already.</p>
                {% else %}
                    {% include 'symbols/form.html' with submit="Login" form=form %}
                    <div class="mt-3">
                        <div class="text-sm">
                            <a href="{% url 'password_reset' %}"
                               class="font-medium text-blue-600 hover:text-blue-500">
                                Forgot your password?
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}
