{% extends "registration/base.html" %}

{% block title %}Enter new password{% endblock %}

{% block body %}

    <div class="{% include 'symbols/prose.class' %}">

        {% if validlink %}
            <h1>Set a new password!</h1>
            {% include 'symbols/form.html' with submit="Change my password" form=form %}

        {% else %}
            <p>
                The password reset link was invalid, possibly because it has already been used. Please request a new
                password reset.
            </p>
        {% endif %}

    </div>

{% endblock %}
