body {
    font-family: Arial, sans-serif;
    margin: 0;
}

table {
    width: 100%;
    table-layout: fixed; /* Ensures that the table respects the width of the cells */
}

td {
    word-wrap: break-word; /* For older browsers */
    overflow-wrap: break-word; /* For modern browsers */
    hyphens: auto; /* Optional: adds hyphenation for better readability */
}

@page {
    size: A4 portrait;
    margin: 0;
    margin-bottom: 40mm;
    margin-top: 27mm;
}

main {
    margin-top: 9mm;
    margin-left: 25mm;
    margin-right: 20mm;
    /* border: 1px solid black; */
}

header {
    margin-left: 20mm;
    display: flex;
}

img {
    height: 20mm;
    display: block;
    position: fixed;
    top: -22mm;
    right: 10mm;
}

header address {
    /* border: 1px solid black; */
    font-size: 1.2rem;
    width: 85mm;
    height: 45mm;
    padding-left: 5mm;
    padding-top: 17.7mm;
    font-style: normal;
}

header .right {
    margin-left: auto;
    width: 75mm;
    margin-top: 5mm;
    /* border: 1px solid black; */
    margin-right: 10mm;
}

footer {
    /* border: 1px solid black; */
    position: fixed;
    bottom: 0mm;
    margin-left: 25mm;
    height: auto;
    margin-right: 20mm;
    margin-bottom: -30mm;
    display: flex;
    font-size: 0.8rem;
    width: 165mm;
}

header p,
footer p {
    margin: 0;
}

footer>div {
    width: 25%;
    padding: 0 0px;
}

footer>span,
header>span {
    display: block;
    width: 5px;
}

header>div {
    width: 50%;
    padding: 0 0px;
}

header>div>p.right {
    text-align: right;
}