{% if header %}
<header>
    <address>
        {{ header.address_line_1 }} <br>
        {{ header.address_line_2 }} <br>
        {{ header.address_line_3 }} <br>
        {{ header.address_line_4 }} <br>
        {{ header.address_line_5 }}
    </address>
    <div class="right">
        {% if header.logo %}
            <img src="{{ header.logo_base64 }}" style="max-height: 80px; margin-bottom: 10px;" alt="Logo">
        {% endif %}
        <p>
            {{ header.text_right }}
        </p>
    </div>
</header>
{% endif %}