<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ SERVICE }}</title>
</head>
<body>
<table style="border-collapse: collapse">
    <tr>
        <th style="text-align: left; border: 1px solid #dddddd; padding: 8px 12px;">Service</th>
        <td style="text-align: left; border: 1px solid #dddddd; padding: 8px 12px;">{{ SERVICE }}</td>
    </tr>
    <tr>
        <th style="text-align: left; border: 1px solid #dddddd; padding: 8px 12px;">Image</th>
        <td style="text-align: left; border: 1px solid #dddddd; padding: 8px 12px;">{{ IMAGE }}</td>
    </tr>
    <tr>
        <th style="text-align: left; border: 1px solid #dddddd; padding: 8px 12px;">Runtime</th>
        <td style="text-align: left; border: 1px solid #dddddd; padding: 8px 12px;">{{ RUNTIME }}</td>
    </tr>
    <caption></caption>
</table>
</body>
</html>
