/* https://tailwindcss.com/blog/standalone-cli */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* form */
.tailwind-form {
    @apply space-y-4;
}

/* input */
.tailwind-form input[type=hidden] {
    @apply hidden;
}
.tailwind-form input[name=csrfmiddlewaretoken] + p {
    margin-top: 0!important;
}
.tailwind-form input:not([type=submit]):not([type="checkbox"]), .tailwind-form select {
    @apply block w-full px-3 py-2 placeholder-gray-400 border border-gray-300 rounded-md shadow-sm appearance-none focus:outline-none focus:ring-1 focus-within:ring-1 focus-within:ring-lorgablue focus-within:border-lorgablue focus:ring-lorgablue focus:border-lorgablue sm:text-sm;
}
.tailwind-form input[type=submit], .tailwind-form button[type=submit] {
    @apply flex items-center w-auto px-4 py-2 ml-auto text-sm font-medium text-white bg-opacity-100 border border-transparent shadow-sm cursor-pointer focus:outline-none bg-lorgablue hover:bg-opacity-90 focus:ring-2 focus:ring-offset-2 focus:ring-lorgablue rounded-xl;
}

/* select */
.tailwind-form select {
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
}

/* checkbox */
.tailwind-form input[type="checkbox"] {
    /* @apply inline-block w-auto mr-1 border-gray-300 rounded text-lorgablue focus:ring-lorgablue; */
    @apply mr-1 border-gray-300 rounded shadow-sm text-lorgablue focus:border-lorgablue focus:ring focus:ring-offset-0 focus:ring-lorgablue focus:ring-opacity-50;
    @apply flex-shrink-0 inline-block w-4 h-4 p-0 align-middle border appearance-none cursor-pointer;
}
.tailwind-form input[type='checkbox']:checked, input[type='radio']:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/* label */
.tailwind-form label {
    @apply font-medium text-gray-700;
}

/* error */
.tailwind-form .errorlist {
    @apply !mt-1;
}
.tailwind-form .errorlist.nonfield {
    @apply !mt-0;
}
.tailwind-form .errorlist > li {
    @apply text-sm text-red-700;
}

/* help */
.tailwind-form .help {
    @apply text-sm text-gray-600;
}
.tailwind-form .help {
    @apply text-sm;
}
.tailwind-form .help > ul {
    @apply mt-1;
}
.tailwind-form .help > ul > li {
    @apply text-gray-600 mt-0.5;
}
