{% extends 'symbols/base.html' %}

{% block title %}MfA - Enable{% endblock %}

{% block content %}
    <div class="{% include 'symbols/prose.class' %}">
        <h1>Multi-factor Authentication - Enable</h1>
        <p>
            You can scan this QR Code with your favourite Authenticator app (We recommend Authy).
            And put the generated code into the input field to enable MfA.
        </p>
        <img alt="MFA Setup QR Code" src="{{ object.url }}" width="200">
        {% include 'symbols/form.html' with submit="Enable MfA" form=form %}
    </div>
{% endblock %}
