{% extends "registration/base.html" %}
{#
<!-- hello setup
<br><br><br><br><br>
<img alt="MFA Setup QR Code" src="https://chart.apis.google.com/chart?cht=qr&chs=250x250&chl={{ uri }}">

<form method="post">
{{ form.as_p }}
{% csrf_token %}
<button type="submit">submit</button>
</form> -->
#}



{% block title %}MFA - Setup{% endblock %}

{% block body %}
    <div class="{% include 'symbols/prose.class' %}">
        <h1>Multi-factor Authentication - Enable</h1>
        <p>
            You can scan this QR Code with your favourite Authenticator app (We recommend Authy).
            And put the generated code into the input field to enable MfA.
        </p>
        <img alt="MFA Setup QR Code" src="https://chart.apis.google.com/chart?cht=qr&chs=250x250&chl={{ uri }}">
        {% include 'symbols/form.html' with submit="Enable MfA" form=form %}
    </div>
{% endblock %}
