{% extends 'symbols/base.html' %}

{% block title %}MfA - Status{% endblock %}

{% block content %}
<div class="{% include 'symbols/prose.class' %}">
    <h1>Multi-factor Authentication - Status</h1>
    {% if mfa_setup and mfa_enabled %}
    <p>You have Multi-factor Authentication enabled. You can disable it <a href="{% url 'mfa_disable' mfa_secret.uuid %}">here</a>.</p>
    {% elif mfa_setup %}
    <p>You have Multi-factor Authentication setup but not enabled. You can enable it <a href="{% url 'mfa_enable' mfa_secret.uuid %}">here</a>.</p>
    {% else %}
    <p>
        You do not have Multi-factor Authentication enabled. We recommend you to enable it.
        You can do that <a href="{% url 'mfa_setup' %}">here</a>.
    </p>
    <p>
        Multi-factor Authentication requires you to provide two or more verificatin factors to gain access to your
        account.
        Law&Orga uses TOTP MFA which can be setup on your phone with Authenticator
        apps like Authy (recommended), Google Authenticator or similar ones.
    </p>
    {% endif %}
    <p class="mt-20 text-sm">
        You can get back to Law&Orga by clicking <a href="{{ frontend_url }}">here</a>.
    </p>
</div>
{% endblock %}
