<!DOCTYPE html>
<html lang="en">
<head>
    <title>Law&Orga</title>
</head>
<body>
<h1>Law&Orga - Please confirm your email</h1>
<p>Thank you for your registration with Law&Orga. Two things need to happen before you can login:</p>
<ul>
    <li>
        To use the system you have to be accepted by the admin of your org.
    </li>
    <li>
        Furthermore you have to confirm your email by clicking on the following link: <a href="{{ url }}">{{ url }}</a>.
    </li>
</ul>
<p>Have fun using the Law&Orga!</p>
</body>
</html>
