<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body>
<h1>Law & Orga - Password Reset</h1>
<h2>There was a request to reset your password</h2>
<p>To reset your password, click on the following link: <a href="{{ link }}">{{ link }}</a></p>
<p>You can't login directly after you reset your password because your encryption keys have to be regenerated.</p>
<p>
    That's why an admin of your team needs to admit you back in. Please inform one of them that they need to do this.
    They've got a notification in their notifications.
</p>
<p>Have a nice day!</p>
</body>
</html>
