name: Commit Stage - Analyze Code With Pre Commit

on: workflow_call

jobs:
  analyze:
    name: Lint
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install UV
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Set Up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install Dependencies
        run: uv sync

      - name: Run Black
        run: uv run black . --check

      - name: Run Ruff
        run: uv run ruff check .

      - name: Run Isort
        run: uv run isort .

      - name: Run MyPy
        run: uv run mypy .
