name: Commit Stage - Analyze Code With Pre Commit

on: workflow_call

jobs:
  analyze:
    name: Lint
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - uses: actions/cache@v4
        id: cache-packages
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.pythonLocation }}-${{ hashFiles('Pipfile') }}

      - name: Install Dependencies
        if: steps.cache-packages.outputs.cache-hit != 'true'
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          uv sync

      - name: Run Black
        run: black . --check

      - name: Run Ruff
        run: ruff check .

      - name: Run Isort
        run: isort .

      - name: Run MyPy
        run: mypy .
