name: Other - Cronjobs

on:
  schedule:
    - cron: "4 2 * * *"

jobs:
  cron:
    name: Run Cronjobs
    runs-on: ubuntu-22.04
    environment: PRODUCTION

    env:
      DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
      EMAIL_ADDRESS: ${{ secrets.EMAIL_ADDRESS }}
      EMAIL_HOST: ${{ secrets.EMAIL_HOST }}
      EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
      EMAIL_PORT: ${{ secrets.EMAIL_PORT }}
      S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
      S3_ACCESS_KEY: ${{ secrets.S3_ACCESS_TOKEN }}
      S3_SECRET_KEY: ${{ secrets.S3_SECRET_KEY }}
      DB_NAME: ${{ secrets.DB_NAME }}
      DB_USER: ${{ secrets.DB_USER }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_PORT: ${{ secrets.DB_PORT }}
      DB_HOST: ${{ secrets.DB_HOST }}
      PIPELINE_IMAGE: ${{ github.event.repository.name }}:latest
      PIPELINE_SERVICE: ${{ github.repository }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install UV
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Set Up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install Dependencies
        run: uv sync

      - name: Run cronjobs
        run: python production_manage.py cronjobs

      - name: Clear sessions
        run: python production_manage.py clearsessions
